/* header */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin:5px;
    background-image: linear-gradient(315deg, var(--akzentfarbe5) 0%, var(--akzentfarbe4) 90%);
}
:root{
    --akzentfarbe1: rgb(0, 0, 0);
    --akzentfarbe2: rgb(0, 22, 108);
    --akzentfarbe3: rgb(221, 202, 1);
    --akzentfarbe4: rgb(255, 255, 255);
    --akzentfarbe5: rgb(82, 81, 81);
}
p, article{
    margin-left: 2rem;
    margin-right: 2rem;
}
a{
    color: var(--akzentfarbe1);
}
.logo {
    width: 4rem;
    margin: 0.5rem;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--akzentfarbe2);
}
.logoname{
    text-decoration: none;
    color: var(--akzentfarbe2);
}
.menuicon{
    width: 2rem;
    position: fixed;
    top: 2rem;
    right: 1rem;
    visibility: hidden;
    opacity: 0;
    z-index: 99999999;
}
.menuicon:hover{
    background-color: var(--akzentfarbe2);
    border-radius: 30%;
    padding: 0.5rem;
    transform: translate(.5rem,-.5rem)
    
}
.verein {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.0);
    width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav{
    width: 100%;
    background-color: var(--akzentfarbe2);
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: var(--akzentfarbe4);
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
}

a:hover{
    color: var(--akzentfarbe3);
    text-decoration: underline;
    transition: 0.3s ease-in;
}

@media screen and (max-width:900px){
    
    nav ul {
        visibility: hidden;
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--akzentfarbe2);
        background-image: linear-gradient(315deg, var(--akzentfarbe2) 50%, var(--akzentfarbe4) 80%);
        height: 100%;
        margin: 0;
        opacity: 0;
        transition: 0.3s;
    }
    .menuicon{
        display: block;
        transition: 0.3s;
        visibility: visible;
        opacity: 1;
    }
    .open ul {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease-in;
        z-index: 9999999;
    }
    h2{
    
        background-color: var(--akzentfarbe2);
        color: var(--akzentfarbe4);
    }
    .footer {
        display: flex;
        flex-direction: column;      
    }
}

.block{
    display: block;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    
    gap:0.2rem;
}
h2{
    width: 99%;
    padding:1rem 0rem;
    text-align: center;
}
h3{
    font-size: 1.5rem;;
}
.startimg{
    width: 400px;
    max-height: 300px;
    border: 2px solid var(--akzentfarbe2);
    border-radius: 50%;
    transition: 0.3s;
    margin: 0.5rem;
}
.startimg:hover{
    border: 3px solid var(--akzentfarbe3);
}
@media screen and (max-width:400px)
{
    .startimg{
        width: 100%;
    }
}
.beitragsbild{
    width: 600px;
    
    border: 2px solid var(--akzentfarbe2);
    transition: 0.3s;
}
@media screen and (max-width:600px)
{
    .beitragsbild{
        width: 100%;
    }
}

.anreise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}




/* footer */
.footer {
    background-color: var(--akzentfarbe2);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    vertical-align: baseline;
    margin-top: 20px;
    
}
.footersection{
    padding: 1rem;
    width: 50%;
    text-align: center;
    }
.footersection p{
    color: var(--akzentfarbe4);
    margin: 0;
    font-size: 0.8rem;
    transition: 0.2s ease-in;
    }
.footersection a{
        color: var(--akzentfarbe4);
        margin: 0;
        font-size: 0.8rem;
        transition: 0.2s ease-in;
    }
.footersection a:hover{
        color: var(--akzentfarbe3);
        }
/* Footer Ende */

table{  
    margin-top: 1rem; 
    margin-bottom: 1rem;
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
tr:hover{
    background-color: var(--akzentfarbe3);
    
}
tr:nth-child(even) {
    background-color: rgba(127, 163, 255, 0.5);
}
tr:nth-child(even):hover {
    background-color: var(--akzentfarbe3);
}
td, th{
    padding: 0.5rem;
    margin: 0rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 25%;
}
th {
    background-color: var(--akzentfarbe2);
    color: white;
  }

article{
    text-align: justify;
}

figure{
    border: 1px solid var(--akzentfarbe1);
    padding: 1rem;
    transition: 0.3s;
}
figure:hover{
    border: 3px solid var(--akzentfarbe3);
    background-color: var(--akzentfarbe2);
    color: var(--akzentfarbe3);
}
.sonstigesbild{
    width: 300px;
    border: 2px solid var(--akzentfarbe2);
}

.mediaslider{
    width: 90%;
    display: flex;
    overflow-x: scroll;
}
.beitrag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.beitrag figcaption{
    font-size: 1.2rem;
    font-weight: 500;
}
